/* styles/partials/_variables.css */
/* Variáveis globais do tema Lancer e imports de fontes */

@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");

:root {
  --l-accent: #802932;
  /* Destaque Lancer */
  --l-warning: #ffaa00;
  /* Laranja de Alerta */
  --l-danger: #ff3333;
  /* Vermelho Crítico */
  --l-bg-dark: rgba(13, 13, 15, 0.5);
  --l-border: rgba(255, 255, 255, 0.12);
  --l-blue: #3399ff;
}

/* Ícone local base */
.lancer-local-icon {
  display: inline-block;
  width: 1.2em;
  height: 1.2em;
  background-color: currentColor;
  mask-size: contain;
  mask-repeat: no-repeat;
  mask-position: center;
  -webkit-mask-size: contain;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center;
  vertical-align: middle;
}
