<div class="la-popup">
    <div class="la-popup-header">
        {{#if img}}
        <img src="{{img}}" class="la-popup-icon" />
        {{/if}}
        <h2 class="la-popup-title">{{{name}}}</h2>
        <i class="fas fa-chevron-up la-popup-toggle-icon"></i>
    </div>

    <div class="la-popup-body">
        {{#if tags.length}}
        <div class="la-popup-tags">
            {{#each tags}}
            <span class="hud-item-tag {{this.class}}">{{{this.label}}}</span>
            {{/each}}
        </div>
        {{/if}}

        {{#if effect}}
        <div class="la-popup-effect">{{{effect}}}</div>
        {{/if}}

        {{#if on_attack}}
        <div class="la-popup-on-attack"><strong>{{localize "STYLISH_HUD.Weapon.OnAttack"}}:</strong> {{{on_attack}}}</div>
        {{/if}}

        {{#if on_hit}}
        <div class="la-popup-on-hit"><strong>{{localize "STYLISH_HUD.Weapon.OnHit"}}:</strong> {{{on_hit}}}</div>
        {{/if}}

        {{#if on_crit}}
        <div class="la-popup-on-crit"><strong>{{localize "STYLISH_HUD.Weapon.OnCrit"}}:</strong> {{{on_crit}}}</div>
        {{/if}}

        {{#if description}}
        <div class="la-popup-description">{{{description}}}</div>
        {{/if}}

        {{#if cost}}
        <div class="la-popup-actions">
            {{{cost}}}
        </div>
        {{else if id}}
        <div class="la-popup-actions">
            <button type="button" class="pf2e-map-btn" onclick="event.stopPropagation(); StylishAction.useItem('activate:{{id}}', event)" data-tooltip="Enviar um card representando este item para o chat"><i class="fas fa-comment-alt"></i></button>
        </div>
        {{/if}}
    </div>
</div>
